.App {
  height: 100vh;
  position: relative;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10rem 0 5rem 4.5rem;
  width: 100%;
}

.heading {
  margin-bottom: 1.5rem;
  width: 100%;
}

.banner {
  background-color: #edecec;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 1.5rem 0;
  width: 100%;
}

.banner-content {
  display: flex;
  justify-content: left;
  width: 100%;
}

.data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gauge-data {
  width: 54rem;
}

.area-data {
  width: 65rem;
}

.heading,
.bannerContent,
.data {
  max-width: 120rem;
}
